.advantages__title {
  max-width: 280px;
  margin: 38px auto -10px;

  @include font-preset (24px, 30px, 400, $clr-darkblue);
  text-align: center;
}

.advantages-wrapper {
  background: $clr-grey url("../img/bg-triangle-white.svg") no-repeat center top;
  background-size: 100% auto;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  margin-top: 48px;
  padding: 56px 30px 0;

  text-align: center;
}

.advantages__item {
  max-width: 280px;
  margin-bottom: 12px;

  &--friends {
    margin-bottom: 0;

    &::after {
      content: "";

      display: block;
      width: auto;
      height: 278px;
      margin-top: 40px;

      background: transparent url("../img/iphone-screen-mobile@1x.png") no-repeat top;
    }
  }
}

.advantages__item__subject {
  @include font-preset (18px, 24px, 700, $clr-black);
  letter-spacing: 1px;
}

.advantages__item__desc {
  @include indent-reset;
  @include font-preset (14px, 24px, 400, $clr-darkblue);
  margin-top: -5px;
}

.advantages__research {
  display: none;
}

.advantages__research__title {
  @include font-preset (30px, 36px, 700, $clr-black);
}

.advantages__research__desc {
  @include font-preset (14px, 24px, 400, $clr-darkblue);
}

.advantages__research__link {
  @include font-preset (14px, 24px, 400, $clr-pink);
}

@media (min-width: $tablet-width) {
  .advantages__title {
    max-width: 620px;
    margin: 0 auto;

    @include font-preset (40px, normal, 300, $clr-darkblue);

    &:last-of-type {
      max-width: 400px;
    }
  }

  .advantages__list {
    position: relative;

    max-width: 660px;
    margin: 48px auto 0;
    align-items: flex-end;
  }

  .advantages__item {

  &--friends {

    &::after {
      content: "";

      position: absolute;
      left: 20px;
      bottom: 0;

      width: 268px;
      height: 481px;

      background: transparent url("../img/iphone-screen-3-tablet@1x.png") no-repeat center;
    }
  }
}

  .advantages__research {
    display: block;
  }

  .advantages__research__wrapper {
    position: relative;

    display: block;
    max-width: 296px;
    margin: 0 auto 0 50%;
    padding: 60px 0;

    text-align: left;

    &::before {
      content: "24";

      position: absolute;
      left: -300px;

      width: 238px;
      height: 276px;

      @include font-preset (96px, 303px, 700, $clr-pink);
      text-align: center;

      background: url("../img/icon-timer.svg") no-repeat center;
      background-size: cover;
    }

    &::after {
      content: "";

      position: absolute;
      top: 114px;
      left: -280px;

      width: 175px;
      height: 175px;

      border: 14px solid $clr-pink;
      border-radius: 50%;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages__title {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 65px;

    @include font-preset (50px, 60px, 300, $clr-darkblue);

    &:last-of-type {
      max-width: 450px;
      padding-top: 0;
      padding-bottom: 60px;
    }
  }

  .advantages-wrapper {
    padding-top: 200px;
  }

  .advantages__list {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 950px;
    padding-top: 75px;
  }

  .advantages__item {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;

    &--happy {
      &::after {
        content: "";

        position: absolute;
        left: -5px;
        bottom: 250px;

        width: 292px;
        height: 302px;

        background: transparent url("../img/iphone-screen-1-desktop@1x.png") no-repeat center;
      }
    }

    &--world {
      &::after {
        content: "";

        position: absolute;
        left: -15px;
        bottom: 250px;

        width: 292px;
        height: 302px;

        background: transparent url("../img/iphone-screen-2-desktop@1x.png") no-repeat center;
      }
    }

    &--friends {
      &::after {
        content: "";

        position: absolute;
        left: -25px;
        bottom: 250px;

        width: 292px;
        height: 302px;

        background: transparent url("../img/iphone-screen-3-desktop@1x.png") no-repeat center;
      }
    }
  }

  .advantages__item__subject {
    max-width: 225px;

    @include font-preset (30px, 30px, 700, $clr-black);
  }

  .advantages__item__desc {
    max-width: 240px;
    @include indent-reset;

    @include font-preset (18px, 30px, 400, $clr-darkblue);
  }

  .advantages__research {
    background-color: $clr-grey;
  }

  .advantages__research__wrapper {
    display: block;
    max-width: 525px;
    margin: 0 auto 0 42%;
    padding: 150px 0 100px;

    &::before {
      content: "24";

      position: absolute;
      top: 82px;
      left: -366px;

      width: 298px;
      height: 345px;

      @include font-preset (120px, 380px, 700, $clr-pink);
      text-align: center;

      background: url("../img/icon-timer.svg") no-repeat center;
      background-size: cover;
    }

    &::after {
      content: "";

      position: absolute;
      top: 151px;
      left: -344px;

      width: 220px;
      height: 220px;

      border: 17px solid $clr-pink;
      border-radius: 50%;
    }
  }
}
