.advantages__title {
  @include indent-reset;
  margin: 38px 0 -10px;

  @include font-preset (24px, 30px, 400, $clr-darkblue);
  text-align: center;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 56px 30px 0;
  margin-top: 48px;

  text-align: center;

  background: $clr-grey url("../img/bg-triangle-white.svg") no-repeat center top;
  background-size: 100% auto;
}

.advantages__item {
  margin-bottom: 12px;
}

.advantages__friends {
  margin-bottom: 0;

  &::after {
    content: "";

    display: block;
    width: auto;
    height: 278px;
    margin-top: 40px;

    background: transparent url("../img/iphone-screen-mobile@1x.png") no-repeat top;
  }
}

.advantages__item__subject {
  @include font-preset (18px, 24px, 700, $clr-black);
  letter-spacing: 1px;
}

.advantages__item__desc {
  @include indent-reset;
  @include font-preset (14px, 24px, 400, $clr-darkblue);
  margin-top: -5px;
}

.advantages__research__title {
  @include font-preset (30px, 30px, 700, $clr-black);
}

.advantages__research__desc {
  @include font-preset (18px, 30px, 400, $clr-darkblue);
}

.advantages__research__link {
  @include font-preset (18px, 30px, 400, $clr-pink);
}
