.contest__title {
  max-width: 280px;
  margin: 0 auto;
  padding: 45px 0 25px;

  @include font-preset (14px, 30px, 400, $clr-darkblue);
  text-align: center;
}

.contest__form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contest__field {
  position: relative;

  box-sizing: border-box;
  margin-bottom: 15px;

  border: 0;

  &:nth-child(2n) {
    background-color: $clr-grey;
  }

  &--info {
    order: -5;
  }

  &--achievements {
    order: -4;
  }

  &--contacts {
    order: -3;

    margin-top: 10px;
  }

  &--os {
    order: -2;

    margin: 0;
  }

  &--emotions {
    order: -1;
    width: 320px;
    margin: 0 auto;
  }
}

.contest__list {
  &--os {
    margin-top: 70px;
  }

  &--achievements {
    margin-top: 76px;
  }
}

.contest__item {
  max-width: 280px;
  margin: 0 auto;

  &--achievements {
    position: relative;

    margin-bottom: 52px;

    &:last-child {
      margin-bottom: 38px;
    }
  }

  &--os {
    position: relative;

    margin-bottom: 44px;

    &:last-child {
      margin-bottom: 38px;
    }
  }
}

.contest__label {
  &--for-info,
  &--for-contacts {
    display: block;
    padding-left: 22px;
    margin-bottom: 5px;

    @include font-preset (14px, 30px, 400, $clr-pink);
    text-transform: uppercase;
  }

  &--for-checkbox,
  &--for-radio {
    display: block;
    margin-left: 70px;

    @include font-preset (18px, 30px, 400, $clr-darkblue);

    &:hover::before,
    &:focus::before {
      border-color: $clr-darkblue;
    }

    &:active::before {
      border-color: $clr-pink;
    }
  }

  &--for-radio {
    &::before {
      content: "";

      position: absolute;
      top: -8px;
      left: -2px;

      appearance: none;
      width: 38px;
      height: 38px;

      border: 2px solid #e5e5e5;
      border-radius: 50%;
      background: $clr-white;
    }
  }

  &--for-checkbox {
    &::before {
      content: "";

      position: absolute;
      top: -5px;
      left: 0;

      width: 35px;
      height: 35px;

      border: 2px solid #e5e5e5;
      background: $clr-white;
    }
  }
}

.contest__input {
  outline: 0;

  &:hover,
  &:focus {
    border-color: $clr-darkblue;
  }

  &:active {
    border-color: $clr-pink;
  }

  &--text {
    box-sizing: border-box;
    width: 280px;
    height: 64px;
    padding: 15px 20px;
    margin: 0 0 17px 0;

    @include font-preset (18px, 30px, 400, $clr-darkblue);

    border: 2px solid #e5e5e5;
    border-radius: 3px;
  }

  &--checkbox {
    display: none;
  }

  &--checkbox:checked + label::before {
    background: $clr-white url("../img/icon-yes-pink.svg") no-repeat center;
  }

  &--radio {
    display: none;
  }

  &--radio:checked + label::before {
    background: $clr-white url("../img/icon-map-marker.svg") no-repeat center;
  }

  &--textarea {
    box-sizing: border-box;
    width: 280px;
    height: 200px;
    padding: 15px 5px 15px 18px;
    margin: 48px 0 0 10px;
    overflow: hidden;

    @include font-preset (18px, 30px, 400, $clr-darkblue);

    border: solid 2px #e5e5e5;

    resize: none;
  }
}

.placeholder-style::placeholder {
  @include font-preset (18px, 30px, 400, $clr-darkblue);
  font-family: "Open Sans", "Arial", sans-serif;
}

.contest__legend {
  position: relative;
  top: 38px;
  margin: 0 auto;

  max-width: 220px;

  @include font-preset (14px, 18px, 400, $clr-pink);
  text-align: center;
  text-transform: uppercase;
}

.contest__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.contest__btn {
  display: block;
  box-sizing: border-box;
  width: 280px;
  height: 62px;
  margin: 35px 0;

  @include font-preset (18px, 30px, 700, $clr-white);
  text-transform: uppercase;

  background-color: #2aab6d;
  border: solid 2px #2aab6d;
  border-radius: 3px;
  outline: 0;

  &:hover,
  &:focus {
    border: solid 2px #1c9b5e;
    background-color: #1c9b5e;
  }

  &:active {
    color: fade-out($clr-white, 0.7);
  }

  &--disabled {
    border: solid 2px #e5e5e5;
    background-color: #e5e5e5;
  }
}

.contest__required {
  display: block;

  @include font-preset (14px, 30px, 400, $clr-darkblue);
  text-transform: uppercase;

  &--symbol {
    color: $clr-pink;
  }

  &--extratext {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .contest {
    max-width: 620px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .contest__title {
    max-width: 500px;
    margin: 0 auto;
    padding: 92px 0 72px;

    @include font-preset (18px, 30px, 400, $clr-darkblue);
  }

  .contest__field {
    order: 0;

    border: solid 2px #e5e5e5;

    &:nth-child(2n) {
      background-color: $clr-white;
    }

    &--info {
      @include indent-reset;
      border: 0;
    }

    &--os {
      margin-top: 8px;
    }

    &--contacts {
      margin-top: 56px;
    }

    &--achievements {
      margin-top: 42px;
    }

    &--emotions {
      width: 620px;
      margin: 42px 0 0;
      padding: 5px 60px 50px;
    }
  }

  .contest__list {
    &--os {
      margin: 0;
      padding: 42px 35px 13px;
    }

    &--contacts {
      padding: 0 44px 18px;
    }

    &--achievements {
      margin-top: 0;
      padding: 42px 33px 5px;
    }
  }

  .contest__legend {
    top: 0;

    display: block;
    max-width: none;
    padding: 0 30px;
  }

  .contest__item {
    position: relative;

    display: flex;
    align-items: center;
    max-width: none;
    margin: 0;

    &--info {
      max-height: 66px;
      margin-bottom: 50px;
    }

    &--os {
      margin-bottom: 44px;
    }

    &--contacts {
      margin-bottom: 3px;
      height: 130px;

      &--tel::after {
        content: "";

        position: absolute;
        right: 2px;
        top: 35px;

        width: 60px;
        height: 60px;

        background: #e5e5e5 url("../img/icon-phone.svg") no-repeat center;
        background-size: 33%;
      }

      &--email::after {
        content: "";

        position: absolute;
        right: 2px;
        top: 35px;

        width: 60px;
        height: 60px;

        background: #e5e5e5 url("../img/icon-mail.svg") no-repeat center;
        background-size: 30%;
      }
    }

    &--achievements {
      margin-bottom: 52px;
    }
  }

  .contest__label {
    &--for-info {
      @include indent-reset;
      display: inline-block;
      padding-right: 18px;
    }

    &--for-contacts {
      position: absolute;

      bottom: -11px;
      left: -3px;
    }

    &--for-radio {
      &::before {
        top: -5px;
        left: 9px;
      }
    }

    &--for-checkbox {
      &::before {
        left: 10px;
      }
    }
  }

  .contest__input {
    &--text {
      flex-grow: 1;
      margin: 0;
    }

    &--textarea {
      width: 496px;
      height: 189px;
      padding: 15px;
      margin: 32px auto 0;
    }
  }

  .contest__footer {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 67px 0 50px;
  }

  .contest__btn {
    width: 300px;
    height: 63px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .contest {
    max-width: 936px;
  }

  .contest__title {
    max-width: 760px;
  }

  .contest__form {
    flex-direction: row;
  }

  .contest__field {
    &--info {
      width: 431px;
      margin: 12px auto 0 0;
    }

    &--os {
      margin: 0;
      width: 431px;
    }

    &--contacts {
      margin-top: 56px;
      width: 100%;
    }

    &--emotions {
      width: 100%;
      padding: 0 56px 38px;
    }
  }

  .contest__list {
    &--os {
      margin: 0;
      padding: 42px 49px 13px;
    }

    &--contacts {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 42px 14px;
    }

    &--achievements {
      display: flex;
      width: 870px;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 42px 0 0 35px;
    }
  }

  .contest__item {
    &--info {
      margin-bottom: 52px;

      &:last-child {
        margin: 0;
      }
    }

    &--contacts {
      margin: 0;
      height: 120px;
      width: 374px;

      &::after {
        top: 30px;
      }
    }

    &--achievements {
      width: 270px;

      &:nth-child(odd) {
        order: -1;
      }
    }
  }

  .contest__label {
    &--for-contacts {
      bottom: -11px;
    }
  }

  .contest__input {
    &--textarea {
      width: 816px;
      height: 130px;
      padding: 15px 18px;
    }
  }

  .contest__footer {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 64px 0 0;
  }

  .contest__required {
    &--extratext {
      display: inline;
    }
  }
}
