.download {
  min-height: 215px;
  padding: 28px 20px;

  background-color: darken($clr-darkblue, 6%);
}

.download__btn {
  display: block;
  box-sizing: border-box;
  width: 280px;
  margin: 0 auto;
  padding: 14px 0 18px;

  @include font-preset (18px, 18px, 700, $clr-white);
  text-align: center;
  text-decoration: none;
  letter-spacing: 1px;

  border: 3px solid $clr-white;
  border-radius: 50px;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $clr-pink;

    background-color: $clr-white;
  }

  &:active {
    color: fade-out($clr-pink, 0.7);

    background-color: $clr-white;
  }
}

.download__list {
  display: flex;
  justify-content: space-between;
  margin: 30px auto 22px;
  width: 215px;
}

.os__link {
  display: block;
  width: 55px;
  height: 56px;

  font-size: 0;

  &--ios {
    background: url("../img/logo-apple.svg") no-repeat bottom center;
  }

  &--android {
    background: url("../img/logo-android.svg") no-repeat bottom center;
  }

  &--windows {
    background: url("../img/logo-microsoft.svg") no-repeat bottom center;
  }
}

.download-desc {
  display: block;
  width: 280px;
  margin: 0 auto;

  @include font-preset (14px, 24px, 300, $clr-white);
  text-align: center;
}

@media (min-width: $tablet-width) {
  .download {
    position: absolute;
    bottom: 11.5%;
    right: 51%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 310px;
    padding: 0;

    background-color: transparent;
  }

  .download__title {
    display: block;
    width: 200px;

    @include font-preset (40px, 48px, 300, $clr-white);
    text-align: center;
  }

  .download-desc {
    width: 310px;

    @include font-preset (18px, 24px, 300, $clr-white);
  }

  .download__list {
    padding: 14px 0;
  }

  .download__btn {
    width: 300px;
    padding: 15px 0 16px;
  }
}

@media (min-width: $desktop-width) {
  .download {
    left: 0;
    right: 0;
    top: 0;
    bottom: -52px;

    margin: auto;
    align-items: flex-start;

    width: 940px;
    height: 552.5px;
  }

  .download__title {
    width: 240px;
    padding: 0 30px;
    margin-bottom: 38px;

    @include font-preset (50px, 60px, 300, $clr-white);
  }

  .download__list {
    padding: 50px 43px 40px;
    margin: 0;
  }

  .download__btn {
    margin: 0;

    font-size: 21px;
  }

  .download-desc {
    margin: 0;
  }
}
