.feedback {
  position: relative;

  padding: 42px 0 1px;

  text-align: center;

  background-color: $clr-white;

  z-index: 5;
}

.feedback-triangle {
  position: absolute;


  width: 100%;
  min-height: 68px;
  height: auto;

  background: transparent url("../../img/bg-triangle-white-footer.svg") no-repeat top center;
  background-size: cover;

  z-index: 1;
}

.feedback-wrapper {
  position: relative;
  width: 100%;
  min-height: 614px;

  background: url("../img/bg-map-mobile@1x.png") repeat bottom center;
}

.feedback-map {
  position: absolute;
  top: 0;

  width: 100%;
  height: 614px;
}

.feedback__title {
  @include indent-reset;
  @include font-preset (24px, 30px, 300, $clr-darkblue);

  &:last-of-type {
    margin-bottom: 34px;
  }
}

.feedback__list {
  width: 280px;
  margin: 0 auto;

  z-index: 10;
}

.feedback__item {
  @include indent-reset;
  margin-bottom: 20px;

  @include font-preset (18px, normal, 700, $clr-darkblue);
}

.feedback__link {
  @include font-preset (24px, normal, 300, $clr-pink);
  text-decoration: none;

  &:hover,
  &:focus {
    color: $clr-darkblue;
    text-decoration: underline;
  }

  &:active {
    color: fade-out($clr-darkblue, 0.7);
    text-decoration: none;
  }
}

@media (min-width: $tablet-width) {
  .feedback {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 44px 0 0;
  }

  .feedback-triangle {
    min-height: 100px;
  }

  .feedback-wrapper {
    min-height: 779px;
    position: relative;

    background: url("../img/bg-map-tablet@1x.jpg") repeat bottom center;
  }

  .feedback-map {
    height: 779px;
  }

  .feedback__title {
    display: block;

    @include font-preset (40px, 50px, 300, $clr-darkblue);

    &:last-of-type {
      margin-bottom: 22px;
    }
  }

  .feedback__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 630px;
  }

  .feedback__item {
    min-width: 250px;

    @include indent-reset;
    margin-bottom: 14px;
  }

  .feedback__link {
    display: block;
    max-width: 240px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    max-width: none;
    padding: 65px 0 0;

    background: linear-gradient(to bottom, #ffffff 50%, transparent 50%);
  }

  .feedback-triangle {
    margin-top: -200px;
    min-height: 300px;
  }

  .feedback-wrapper {
    min-height: 868px;
    background: url("../img/bg-map-desktop@1x.jpg") repeat bottom center;
  }

  .feedback-map {
    height: 868px;
  }

  .feedback__title {
    @include font-preset (50px, 60px, 300, $clr-darkblue);

    &:last-of-type {
      margin-bottom: 37px;
    }
  }

  .feedback__list {
    width: 960px;
  }

  .feedback__item {
    &--call {
      order: -2;
    }

    &--visit {
      order: -1;
    }
  }

  .feedback__link {
    display: block;
    max-width: 240px;
    margin-top: 21px;

    line-height: 30px;
  }
}
