.feedback {
  position: relative;

  padding: 42px 35px 0;

  text-align: center;

  background-color: $clr-white;

  &::after {
    content: "";

    position: absolute;
    bottom: -62px;
    left: 0;

    width: 100%;
    height: 62px;

    background: transparent url("../img/bg-triangle-white-footer.svg") no-repeat bottom center;
  }
}

.feedback-wrapper {
  min-height: 614px;

  background: url("../img/bg-map-mobile@1x.png") no-repeat bottom center;
}

.feedback__title {
  @include indent-reset;
  @include font-preset (24px, 30px, 300, $clr-darkblue);

  &:last-of-type {
    margin-bottom: 34px;
  }
}

.feedback__item {
  @include indent-reset;
  margin-bottom: 20px;

  @include font-preset (18px, normal, 700, $clr-darkblue);
  letter-spacing: 1px;
}

.feedback__link {
  @include font-preset (24px, normal, 300, $clr-pink);
  text-decoration: none;
  letter-spacing: normal;

  &:hover,
  &:focus {
    color: $clr-darkblue;
    text-decoration: underline;
  }

  &:active {
    color: fade-out($clr-darkblue, 0.7);
    text-decoration: none;
  }
}
