.gallery__title {
  padding: 30px 38px 34px;

  @include font-preset (14px, 30px, 400, $clr-darkblue);
  text-align: center;
}

.gallery__list {
  padding: 0 6.25%;
}

.gallery__post {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.gallery__message {
  padding: 14px 19px;

  background-color: $clr-grey;
}

.gallery__top__message {
  box-sizing: border-box;
  max-width: 87.5%;
  margin: 0 auto;
}

.gallery__picture {
  order: -1;
}

.gallery__top__text {
  position: absolute;
  top: -12px;
  right: 6%;

  padding: 6px 16px;

  @include font-preset (12px, 24px, 700, $clr-white);
  text-transform: uppercase;
  letter-spacing: 1px;

  background-color: $clr-pink;
}

.gallery__author {
  @include indent-reset;
  @include font-preset (14px, 24px, 700, $clr-darkblue);
}

.gallery__time {
  @include font-preset (12px, 24px, 300, $clr-darkblue);
  text-transform: uppercase;
}

.gallery__comment {
  @include indent-reset;
  @include font-preset (14px, 24px, 400, $clr-darkblue);
}

.like {
  position: relative;

  @include indent-reset;
  padding-left: 30px;
  margin: 8px 0 7px;

  @include font-preset (12px, 24px, 400, $clr-pink);
  text-transform: uppercase;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 5px;

    width: 13px;
    height: 12px;

    background: url("../img/icon-heart.svg") no-repeat center;

    cursor: pointer;
  }
}
