.gallery__title {
  max-width: 280px;
  margin: 0 auto;
  padding: 44px 38px 50px;

  @include font-preset (14px, 30px, 400, $clr-darkblue);
  text-align: center;
}

.gallery__list {
  max-width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.gallery__post {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.gallery__message {
  padding: 18px 19px 22px;

  background-color: $clr-grey;
}

.gallery__top__message {
  max-width: 240px;
  margin: 0 auto 0;
  padding: 18px 19px 20px;
  background-color: $clr-grey;
}

.gallery__picture {
  order: -1;
}

.gallery__top__photo {
  display: block;
  width: 100%;
  height: auto;

  background-color: $clr-darkgrey;
}

.gallery__photo {
  display: block;
  width: 280px;
  height: 180px;

  background-color: $clr-darkgrey;
}

.gallery__top__text {
  position: absolute;
  top: -12px;
  right: 6%;

  padding: 6px 20px;

  @include font-preset (12px, 24px, 700, $clr-white);
  text-transform: uppercase;

  background-color: $clr-pink;
}

.gallery__author {
  @include indent-reset;
  @include font-preset (14px, 24px, 700, $clr-darkblue);
}

.gallery__time {
  @include font-preset (12px, 24px, 300, $clr-darkblue);
  text-transform: uppercase;
}

.gallery__comment {
  @include indent-reset;
  @include font-preset (14px, 24px, 400, $clr-darkblue);
}

.like {
  position: relative;

  @include indent-reset;
  padding-left: 32px;
  margin-top: 8px;

  @include font-preset (12px, 24px, 400, $clr-pink);
  text-transform: uppercase;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 6px;

    width: 13px;
    height: 12px;

    background: url("../img/icon-heart.svg") no-repeat center;

    cursor: pointer;
  }
}

@media (min-width: $tablet-width) {
  .gallery__title {
    max-width: 450px;
    padding: 92px 0 75px;

    @include font-preset (18px, 30px, 400, $clr-darkblue);
  }

  .gallery__top__message {
    position: relative;
    box-sizing: border-box;
    padding: 25px 84px 23px 27px;
    max-width: 620px;
  }

  .gallery__message {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 24px 41px 21px 27px;
    margin: 0;
    min-height: 155px;
  }

  .like {
    position: relative;

    @include indent-reset;
    margin-top: auto;

    &::before {
      left: 229px;
      top: 4px;
    }
  }

  .gallery__top__like {
    position: absolute;
    top: 25px;
    right: 60px;

    &::before {
      top: 5px;
      left: 108px;
    }
  }

  .gallery__top__text {
    top: 50px;
    right: 20px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 620px;
    padding: 30px 20px;
  }

  .gallery__item {
    max-width: 300px;
    margin-right: 20px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .gallery__photo {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__title {
    max-width: 600px;
    padding: 92px 0 88px;

    @include font-preset (18px, 30px, 400, $clr-darkblue);
  }

  .gallery__top__text {
    top: 42px;
    right: 10.7%;
  }

  .gallery__top__message {
    max-width: 940px;
    min-height: 96px;
    padding: 22px 50px 15px 27px;
  }

  .gallery__message {
    min-height: 155px;
    padding: 25px 41px 20px 27px;
  }

  .gallery__list {
    max-width: 940px;
    padding: 0;
  }

  .gallery__item {
    margin-right: 20px;
    margin-top: 30px;

    &:nth-child(2n) {
      margin-right: 20px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .gallery__photo {
    height: 400px;
  }
}
