.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--inner {
    margin-top: 42px;
  }
}

.page-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;

  &--index {
    display: none;
  }
}

.page-footer__logo {
  color: $clr-darkblue;

  &:hover,
  &:focus {
    color: $clr-pink;
  }

  &:active {
    color: $clr-darkblue;
    opacity: 0.3;
  }
}

.social {
  min-width: 174px;
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
}

.social__link {
  display: block;
  width: 46px;
  height: 46px;

  font-size: 0;

  border: 3px solid fade-out($clr-darkblue, 0.9);
  border-radius: 50px;

  &--twitter {
    background: url("../img/icon-twitter.svg") no-repeat center;
  }

  &--facebook {
    background: url("../img/icon-facebook.svg") no-repeat center;
  }

  &--youtube {
    background: url("../img/icon-youtube.svg") no-repeat center;
  }

  &:hover,
  &:focus {
    border-color: $clr-darkblue;
  }

  &:active {
    border-color: $clr-darkblue;
    opacity: 0.1;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 35px;
  margin-top: 37px;

  @include font-preset (14px, 18px, 400, $clr-darkblue);
  text-decoration: none;

  &:hover path,
  &:focus path {
    fill: $clr-darkblue;
  }

  &:active path {
    fill: fade-out($clr-darkblue, 0.7);
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin: 0;
  }

  .social {
    margin-top: 0;
    min-width: 174px;
  }

  .page-footer__copyright {
    height: 50px;
    margin-top: 0;
  }

  .page-footer-wrapper {
    display: flex;
    width: 620px;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: row;
    min-height: 123px;
    padding-top: 35px;
    align-items: stretch;
  }
}

@media (min-width: $desktop-width) {
  .page-footer-wrapper {
    width: 940px;
    min-height: 197px;
    padding-top: 70px;
  }

  .page-footer__copyright {
    font-size: 18px;
    width: 155px;
  }
}
