.page-header {
  position: relative;
}

.page-header__bkgwrapper {
  height: 458px;
  margin-top: -63px;

  background: url("../img/iphone-hand-mobile@1x.png") no-repeat center bottom, #283645 url("../img/bg-back-mobile@1x.jpg") no-repeat top;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
    background-size: 258px auto, 660px auto;
  }
}

.page-title-wrapper {
  min-height: 140px;
  margin-top: -69px;
  padding: 99px 40px 0;

  background: #283645 url("../img/bg-back-mobile@1x.jpg") no-repeat top;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 660px auto;
  }
}

.page-title {
  max-width: 228px;
  margin: 0 auto;

  @include font-preset (24px, 30px, 300, $clr-white);
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-header__bkgwrapper {
    height: 729px;
    margin-top: -110px;

    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
      background-size: 700px auto, 1200px auto;
    }
  }

  .page-title-wrapper {
    min-height: 261px;
    margin-top: -110px;
    padding: 178px 40px 0;

    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .page-title {
    max-width: 475px;

    @include font-preset (50px, 60px, 300, $clr-white);
  }
}

@media (min-width: $desktop-width) {
  .page-header__bkgwrapper {
    height: 853px;
    margin-top: -110px;

    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
      background-size: 1050px auto, 2560px auto;
    }
  }

  .page-title-wrapper {
    min-height: 222px;
    margin-top: -110px;
    padding: 172px 40px 0;

    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }

  .page-title {
    @include font-preset (50px, 60px, 300, $clr-white);
    max-width: 777px;

    &--photo {
      max-width: 500px;
    }
  }
}
