.page-header__bkgwrapper {
  height: 458px;
  margin-top: -63px;

  background: url("../img/iphone-hand-mobile@1x.png") no-repeat bottom left, url("../img/bg-back-mobile@1x.jpg") no-repeat top;
  background-size: auto, cover;
}
