.post__title {
  max-width: 280px;
  margin: 0 auto;
  padding: 20px 32px 29px;

  @include font-preset (14px, 30px, 400, $clr-darkblue);
  text-align: center;
}

.post__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  background-color: $clr-grey;
}

.post__range-controls {
  position: relative;
  left: -5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding: 35px 40px;
}

.post__toggle {
  position: absolute;
  bottom: 0;
  left: 21px;

  height: 2px;
  width: 240px;

  background-color: $clr-black;

  appearance: none;
  cursor: pointer;

  &::-webkit-slider-thumb {
    height: 15px;
    width: 14px;

    appearance: none;

    background: $clr-grey;
    border: 2px solid $clr-pink;
    border-radius: 50px;

    &:active {
      background: $clr-pink;
    }
  }

  &--fill,
  &--contrast {
    display: none;
  }
}

.post__icon {
  fill: fade-out($clr-darkblue, 0.7);

  &--active {
    fill: $clr-pink;
  }

  &:hover {
    fill: fade-out($clr-darkblue, 0.5);
  }
}

.post__btns {
  padding: 39px 0 30px;
  margin-top: 32px;

  border-top: 1px solid fade-out($clr-darkblue, 0.9);
}

.post__btn {
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;

  border: 3px solid;
  border-radius: 50px;
  padding: 14px 20px 16px;
  background-color: transparent;

  &--submit {
    @include font-preset (18px, 18px, 700, $clr-pink);

    &:hover,
    &:focus {
      color: $clr-grey;
      background-color: $clr-pink;
    }

    &:active {
      color: fade-out($clr-grey, 0.7);
    }
  }

  &--reset {
    @include font-preset (18px, 18px, 700, fade-out($clr-darkblue, 0.9));

    &:hover,
    &:focus {
      color: fade-out($clr-darkblue, 0.7);
    }

    &:active {
      color: fade-out($clr-white, 0.7);
      background-color: fade-out($clr-darkblue, 0.7);
      border-color: transparent;
    }
  }
}
