.post__wrapper {
  background-color: $clr-grey;
}

.post__title {
  max-width: 280px;
  margin: 0 auto;
  padding: 16px 32px 42px;

  @include font-preset (14px, 30px, 400, $clr-darkblue);
  text-align: center;
}

.post__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.post__photo {
  width: 280px;
  height: 374px;
}

.post__range-controls {
  position: relative;
  left: -5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding: 35px 40px;
}

.post__toggle {
  position: absolute;
  bottom: 0;
  left: 21px;

  height: 2px;
  width: 240px;

  background-color: $clr-black;

  appearance: none;
  cursor: pointer;

  &::-webkit-slider-thumb {
    height: 15px;
    width: 14px;

    appearance: none;

    background: $clr-grey;
    border: 2px solid $clr-pink;
    border-radius: 50px;

    &:active {
      background: $clr-pink;
    }
  }

  &--fill,
  &--contrast {
    display: none;
  }
}

.post__icon {
  fill: fade-out($clr-darkblue, 0.7);

  &--active {
    fill: $clr-pink;
  }

  &:hover {
    fill: fade-out($clr-darkblue, 0.5);
  }
}

.post__btns {
  padding: 39px 0 30px;
  margin-top: 32px;

  border-top: 1px solid fade-out($clr-darkblue, 0.9);
}

.post__btn {
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;

  border: 3px solid;
  border-radius: 50px;
  padding: 14px 20px 16px;
  background-color: transparent;
  outline: 0;

  &--submit {
    @include font-preset (18px, 18px, 700, $clr-pink);

    &:hover,
    &:focus {
      color: $clr-grey;
      background-color: $clr-pink;
    }

    &:active {
      color: fade-out($clr-grey, 0.7);
    }
  }

  &--reset {
    @include font-preset (18px, 18px, 700, fade-out($clr-darkblue, 0.9));

    &:hover,
    &:focus {
      color: fade-out($clr-darkblue, 0.7);
    }

    &:active {
      color: fade-out($clr-white, 0.7);
      background-color: fade-out($clr-darkblue, 0.7);
      border-color: transparent;
    }
  }
}

@media (min-width: $tablet-width) {
  .post__title {
    max-width: 450px;
    padding: 16px 0 69px;

    font-size: 18px;
    text-align: center;
  }

  .post__form {
    flex-direction: row;
    max-width: 660px;
    padding: 0 33px 48px 20px;
    margin: 0 auto;
  }

  .post__tools {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 410px;
    margin-top: 35px;
  }

  .post__range-controls__item {
    display: flex;
    align-items: center;

    height: 70px;
    width: 275px;

    border-bottom: 1px solid fade-out($clr-darkblue, 0.9);
  }

  .post__picture {
    margin-top: 55px;
    margin-right: 48px;
  }

  .post__photo {
    width: 300px;
    height: 400px;
  }

  .post__range-controls {
    position: relative;
    left: 0;

    flex-direction: column;

    width: 275px;
    padding: 0;
  }

  .post__toggle {
    position: static;

    width: 202px;

    &--fill,
    &--contrast {
      display: inline-block;
    }
  }

  .post__icon {
    width: 24px;
    height: 24px;
    margin-right: 30px;

    fill: $clr-pink;

    &--contrast {
      width: 17px;
      height: 17px;
      margin-right: 30px;
      margin-left: 5px;
    }
  }

  .post__btns {
    @include indent-reset;
    width: 260px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    border-top: none;
  }

  .post__btn {
    margin: 0;

    letter-spacing: 1px;
  }
}

@media (min-width: $desktop-width) {
  .post__title {
    padding: 39px 0 66px;
  }

  .post__wrapper {
    background-color: $clr-white;
    margin-bottom: 28px;
  }

  .post__form {
    max-width: 800px;
    padding: 0 60px 52px 80px;
    justify-content: space-between;

    background-color: $clr-grey;
  }

  .post__tools {
    margin-top: 35px;
    min-height: 410px;
  }

  .post__range-controls__item {
    height: 70px;
    width: 410px;
  }

  .post__picture {
    margin-top: 57px;
    margin-right: 0;
  }

  .post__range-controls {
    width: 400px;
  }

  .post__toggle {
    width: 288px;
  }

  .post__icon {
    margin-right: 42px;

    &--crop {
      width: 48px;
      height: 48px;
    }

    &--fill {
      width: 48px;
      height: 48px;
    }

    &--contrast {
      width: 32px;
      height: 32px;
      margin-right: 52px;
      margin-left: 6px;
    }
  }

  .post__btns {
    @include indent-reset;
    align-self: flex-end;
    width: 410px;
    height: 55px;
    flex-direction: row;
  }

  .post__btn {
    width: 183px;
  }
}
