.post__title {
  @include font-preset (14px, 30px, 400, $clr-darkblue);
}

.post__form {
  background-color: $clr-grey;
}

.post__toggle {
  height: 2px;

  background-color: $clr-black;

  appearance: none;
  cursor: pointer;

  &::-webkit-slider-thumb {
    height: 15px;
    width: 14px;

    appearance: none;

    background: $clr-grey;
    border: 2px solid $clr-pink;
    border-radius: 50px;
  }
}

.post__icon {
  fill: fade-out($clr-darkblue, 0.7);

  &--active {
    fill: $clr-pink;
  }
}

.post__btn {
  display: block;

  border: 3px solid;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: transparent;

  &--submit {
    @include font-preset (18px, 18px, 700, $clr-pink);
  }

  &--reset {
    @include font-preset (18px, 18px, 700, fade-out($clr-darkblue, 0.7));
  }
}
