.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 120px;

  background: $clr-grey url("../img/bg-triangle-white.svg") no-repeat center top;
  background-size: 100%;

  overflow: hidden;
}

.price__list {
  border-collapse: collapse;

  transform: translateX(-140px);
}

.price__head {
  position: relative;

  min-width: 276px;
  box-sizing: border-box;
  padding: 16px 0 22px;

  border: 2px solid #e5e5e5;
  background-color: $clr-darkblue;

  &--empty {
    background-color: transparent;
    border: 0;
  }

  &--hit::before {
    content: "";

    position: absolute;
    top: 0;
    left: -2px;

    width: 74px;
    height: 73px;

    background: url("../img/bg-hit.svg") no-repeat center;
  }

  &--hit::after {
    content: "ХИТ";

    position: absolute;
    top: 7px;
    left: 5px;

    width: 74px;
    height: 73px;

    @include font-preset (14px, 21px, 400, $clr-white);

    transform: rotate(-45deg);
  }
}

.price__list-option {
  @include indent-reset;

  font-size: 0;

  border: 2px solid $clr-grey;
}

.price__head__tariff {
  @include indent-reset;
  @include font-preset (18px, 30px, 700, $clr-white);
  text-transform: uppercase;
}

.price__head__cost {
  @include indent-reset;
  @include font-preset (24px, 30px, 300, $clr-white);
}

.price__list-data {
  padding: 13px 22px 15px;

  @include font-preset (14px, 30px, 300, $clr-darkblue);
  text-transform: uppercase;

  border: 2px solid $clr-grey;

  &--yes {
    background: $clr-white url("../img/icon-yes.svg") no-repeat 95% 50%;
    background-size: 31px 21px;
  }

  &--no {
    background: $clr-white url("../img/icon-no.svg") no-repeat 95% 50%;
    background-size: 27px 26px;
  }
}

.price__pagination {
  margin: 40px 0;
}

@media (min-width: $tablet-width) {
  .price {
    padding: 93px 0 70px;
  }

  .price__list {
    transform: none;
  }

  .price__head {
    min-width: 156px;
    padding: 10px 0 8px;

    border-radius: 6px;

    &--hit::before {
      top: 0;
      left: 0;

      width: 61px;
      height: 61px;
    }

    &--hit::after {
      top: 0;
      left: 1px;
    }
  }

  .price__head__tariff {
    font-size: 16px;
  }

  .price__head__cost {
    font-size: 18px;
  }

  .price__list-option {
    box-sizing: border-box;
    padding: 7px 18px;

    @include font-preset (14px, 30px, 300, $clr-darkblue);

    background-color: $clr-white;
  }

  .price__list-data {
    padding: 0;

    font-size: 0;

    &--yes {
      background-position: center;
    }

    &--no {
      background-position: center;
    }
  }

  .price__pagination {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding: 148px 0 97px;
  }

  .price__head {
    min-width: 235px;
    padding: 15px 0 22px;

    border-radius: 6px;

    &--hit::before {
      top: 0;
      left: 0;

      width: 74px;
      height: 73px;
    }

    &--hit::after {
      top: 9px;
      left: 5px;
    }
  }

  .price__head__tariff {
    font-size: 18px;
  }

  .price__head__cost {
    font-size: 24px;
  }

  .price__list-option {
    padding: 14px 21px;

    @include font-preset (18px, 30px, 400, $clr-darkblue);
  }
}
