body {
  @include indent-reset;
  min-width: 320px;

  font-family: "Open Sans", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  font-size: 1px;
  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-hidden {
  display: none;
}

@media (min-width: $tablet-width) {
  .mobile-hidden {
    display: inline;
  }
}
